body {
    font-family: Lato;
}
main {
  overflow-x:auto;
  margin: auto;
  width: 95%;
  background: #efefef; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#efefef , #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( #efefef , #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( #efefef , #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient( #efefef , #fff); /* Standard syntax */
}

.blabel {
    width: 50px;
    height: 50px;
}

.header {
    padding: 10px;
    text-shadow: 2px 2px 4px #777;
    height: 100px;
    
    width:48%;
    float: left;
    position:relative;
    display:inline-block;
}


h1{
    position: relative;
    color: #4D557F;
}

h2,h3,h4,h5 {
    color: #4D557F;
}

p{
    color: #777;
}


.userParameters {
position: relative;
    padding: 10px ;
    background-color: none;
    width: 48%;
    float:right;
    display:inline-block;
    text-align:right;

    
}

.searchResults {
  padding: 10px ;
  float:right;
  width: 95%;
  background: #efefef; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#efefef , #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( #efefef , #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( #efefef , #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient( #efefef , #fff); /* Standard syntax */

}

img {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

svg:image {
    border-radius: 50%;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.draw {
    width: 100%;
    height: 350px;
    
}
.dnode {
  fill: #efefef;
  fill-opacity: .25;
  stroke: #efefef;
  stroke-width: .5px;
}

.dnode sel {
    fill: crimson;
}


g:hover {
    fill: crimson;
    background-color: crimson;
}

.dnodes:hover {
    fill: crimson;
    background-color: crimson;
}

.destext {
    font-size: .5em;
}

#inputBox {
    color: crimson;
}

.beers {
    width: 48%;
    min-height: 100px;
    padding: 15px 10px;
    float: left;
    font-size: .8em;
    background:#ADCCB9;
    box-shadow: -2px 2px 4px #777;
}

.leaf {
    fill: rgb(216, 255, 232);
  fill-opacity: .25;
  stroke: #777;
  stroke-width: .5px;
}
.food {
    width: 48%;
    min-height: 100px;
    padding: 15px 10px;
    float: right;
    font-size: .8em;
    background:#ADCCB9;
    box-shadow: 2px 2px 4px #777;
}




